body {
  margin: 0;
  padding: 0;
}

#root {
  background: url("./images/84d5371f1eb2d9691489957cea19de56.jpg") center/cover no-repeat fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}