main {
  margin: 25px;
  background-color: rgba(255, 248, 210, 0.322);
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  color: rgb(59, 40, 19);
  text-shadow: 1px 1px 5px rgb(116, 76, 18);
}
